<h1 style="font-size: 18px;">Olá, {{provider}}</h1>
<p>Houve um cancelamento de horário, confira os detalhes abaixo:</p>
<div>
  <strong>Client: </strong><span>{{user}}</span></br>
  <strong>Data: </strong><span>{{date}}</span></br>
  <strong>Hora: </strong><span>{{hour}}</span></br>
</div>
<p>O Horário esta novamento dísponivel</p>
